.parent {
    cursor: pointer;
    color: #337ab7;
}
.parent, #tree-table .fa-file {
    font-size: 16px;
}
#tree-table .fa-file {
    color: #635050;
}
#tree-table table {
    width: 100%;
}

#tree-table table td .fa.fa-trash-o, #tree-table table td .fa.fa-pencil-square-o {
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
}
